html, body {
    scroll-padding-top: 80px;
}

.header {
    position: sticky;
    width: 100%;
    z-index: 10;
    background-color: var(--theme);
    top: 0;
}

.page-header, .post-header {
    margin: 0 auto var(--content-gap);
}

.logo {
    margin: 12px 0 auto 20px;
}

/* .logo-switches {
    margin: 12px var(--gap) auto;
} */

.main {
    padding: 0 var(--gap) var(--gap) var(--gap);
}

html {
	scroll-behavior: smooth;
}

#top {
    background: var(--theme);
}

#menu {
    margin: 12px var(--gap) auto;
}

#menu a:hover,
#menu a:focus,
#menu a:hover svg,
#menu a:focus svg {
    color: #666;
    fill: #666;
}

#menu a svg {
    fill: var(--primary);
}

#menu .active {
    font-weight: 700;
    border-bottom: none;
}

.container {
    margin: auto;
    max-width: 65rem;
}

@media (min-width: 1024px) {
    #tableOfContentContainer {
        position: sticky;
        align-self: start;
        top: 76px;
        display: block;
        margin-left: 2rem;
    }

    .wrapper {
        grid-template-columns: 100% 16em;
        display: grid;
        width: 41em;
        margin: 0 0 0 -8em;
    }

    #TableOfContents li.active > a {
        color: var(--primary);
        font-weight: 500;
    }

    #TableOfContents li.active:before {
        content: "→";
        margin-left: -1em;
        width: 1em;
        color: var(--primary);
        float: left;
    }

    #TableOfContents a {
        text-decoration: none;
        display: block;
        color: var(--tertiary);
        transition: all 100ms ease-in-out;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 15em;
    }

    #TableOfContents ul > li > ul a {
        width: 14em;
    }

    #TableOfContents ul,ol {
        list-style: none;
    }

    #TableOfContents ul > li > ul {
        margin-left: 1em;
    }

    #TableOfContents a:hover,
    #TableOfContents a:focus {
        color: var(--primary);
    }
}

.hidden {
    display: none;
}

.is-one-third {
    width: 33.3333%;
    display: block;
    float: left;
    padding: 0.5em 0.5em 0 0;
}

.is-one-third img {
    object-fit: cover;
    height: 6em;
    width: 100%;
}

.card .card-content {
    font-size: 17px;
    padding: .5em 0;
}

.related-links-columns {
    overflow: overlay;
}

.section h2 {
    margin: 32px auto 24px;
    font-size: 32px;
}

.post-footer {
    margin-top: 0;
}

.post-content pre code {
    color: var(--content);
}

.dark .post-content code {
    color: #f8f8f2;
}

:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: #fff;
    --entry: rgba(216, 214, 197, 1);
    --primary: rgba(88, 89 ,91 ,1);
    --secondary: rgba(109, 110, 113, 1);
    --tertiary: rgba(128, 130 ,133 , 1);
    --content: rgba(61, 61, 61, 1);
    --hljs-bg: #eee8d5;
    --code-bg: #eee8d5;
    --border: rgba(240, 202, 102, 1);
}

.dark {
    --theme: #1d1e20;
    --entry: #2e2e33;
    --primary: rgba(240, 202, 102, 1);
    --secondary: rgba(216, 214, 197, 1);
    --tertiary: rgba(128, 130 ,133 , 1);
    --content: rgba(206, 205, 188, 1);
    --hljs-bg: #282a36;
    --code-bg: #282a36;
    --border: rgba(240, 202, 102, 1);
}